pipeline/ObjectLevel_recovery1.json
{
	"name": "ObjectLevel_recovery1",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "starttime",
					"value": {
						"value": "@utcnow()",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "O_Time",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "O_starttime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						},
						{
							"name": "FileName",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "O_Time",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "FileName",
								"value": {
									"value": "@concat(item().SourceObjectName,'.csv')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "FilePath",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "FileName",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "FilePath",
								"value": {
									"value": "@concat('OUTPUT','/', formatDateTime(utcnow(), 'yyyy'),'/', formatDateTime(utcnow(), 'MM'),'/', formatDateTime(utcnow(), 'dd'))\n",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "FilePath",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ObjectO22",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@variables('FileName')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "OBLECT_O12",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@variables('FileName')",
											"type": "Expression"
										},
										"path": {
											"value": "@variables('FilePath')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Stored procedure1_Recovery",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[Recovery]",
								"storedProcedureParameters": {
									"SourceObjectName": {
										"value": {
											"value": "@item().SourceObjectName",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceType": {
										"value": {
											"value": "@item().SourceType",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_azuredatabase",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Stored proce_object",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[ETLPROCEDURE]",
								"storedProcedureParameters": {
									"CopyDuration": {
										"value": "",
										"type": "String"
									},
									"DataFactoryName": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"Error_Details": {
										"value": null,
										"type": "String"
									},
									"IRName": {
										"value": {
											"value": "@activity('Copy data1').output.effectiveIntegrationRuntime",
											"type": "Expression"
										},
										"type": "String"
									},
									"ObjectName": {
										"value": null,
										"type": "String"
									},
									"Pipeline_Name": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineRunID": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"PlEndTime": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "String"
									},
									"PlStartTime": {
										"value": {
											"value": "@variables('O_starttime')",
											"type": "Expression"
										},
										"type": "String"
									},
									"RowsCopied": {
										"value": {
											"value": "@activity('Copy data1').output.rowsCopied",
											"type": "Expression"
										},
										"type": "String"
									},
									"RowsRead": {
										"value": {
											"value": "@activity('Copy data1').output.RowsRead",
											"type": "Expression"
										},
										"type": "String"
									},
									"SourceType": {
										"value": "srinath",
										"type": "String"
									},
									"Status": {
										"value": "good",
										"type": "String"
									},
									"TargetName": {
										"value": {
											"value": "@variables('FileName')",
											"type": "Expression"
										},
										"type": "String"
									},
									"TargetPath": {
										"value": {
											"value": "@variables('FilePath')",
											"type": "Expression"
										},
										"type": "String"
									},
									"TargetType": {
										"value": null,
										"type": "String"
									},
									"ThroughPut": {
										"value": {
											"value": "@activity('Copy data1').output.throughput",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "LS_azuredatabase",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM dbo.Control_Tbl_Info where SourceType = 'ASQL' AND ActiveStatus= 1;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlObjectLevel_I12",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Stored proce_object_copy1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[ETLPROCEDURE]",
					"storedProcedureParameters": {
						"CopyDuration": {
							"value": "",
							"type": "String"
						},
						"DataFactoryName": {
							"value": {
								"value": "@pipeline().DataFactory",
								"type": "Expression"
							},
							"type": "String"
						},
						"Error_Details": {
							"value": null,
							"type": "String"
						},
						"IRName": {
							"value": null,
							"type": "String"
						},
						"ObjectName": {
							"value": null,
							"type": "String"
						},
						"Pipeline_Name": {
							"value": {
								"value": "@pipeline().Pipeline",
								"type": "Expression"
							},
							"type": "String"
						},
						"PipelineRunID": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"PlEndTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "String"
						},
						"PlStartTime": {
							"value": {
								"value": "@variables('starttime')",
								"type": "Expression"
							},
							"type": "String"
						},
						"RowsCopied": {
							"value": null,
							"type": "String"
						},
						"RowsRead": {
							"value": null,
							"type": "String"
						},
						"SourceType": {
							"value": "srinath",
							"type": "String"
						},
						"Status": {
							"value": "good",
							"type": "String"
						},
						"TargetName": {
							"value": null,
							"type": "String"
						},
						"TargetPath": {
							"value": null,
							"type": "String"
						},
						"TargetType": {
							"value": null,
							"type": "String"
						},
						"ThroughPut": {
							"value": null,
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_azuredatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "UPDATE dbo.Control_Tbl_Info SET ActiveStatus=1;\n\nSELECT 'SUCCESS' AS STATUS;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlObjectLevel_I12",
						"type": "DatasetReference"
					}
				}
			}
		],
		"variables": {
			"starttime": {
				"type": "String"
			},
			"O_starttime": {
				"type": "String"
			},
			"FilePath": {
				"type": "String"
			},
			"FileName": {
				"type": "String"
			},
			"a": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-09T12:40:44Z"
	}
}